div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background: #fffaf0;
    border: 1px solid;
    border-radius: 10px;
}

div label {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 3%;
}

div input {
    padding: 15px;
    width: 80%;
    margin-bottom: 6%;
    border: 3px solid black;
    border-radius: 6px;
}

div button {
    padding: 20px;
    background: white;
    color: blue;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 9px;
}

#nomeJogador {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 1.2em;
}