<div id="nomeJogador">
    {{jogo.jogadores[index].nome}}</div>
<h4 id="scoreJogador1">{{jogo.jogadores[0].nome}}: {{jogo.jogadores[0].vitoria}}</h4>
<h4 id="scoreJogador2">{{jogo.jogadores[1].nome}}: {{jogo.jogadores[1].vitoria}}</h4>
<h4 id="scoreEmpate">Empates: {{jogo.jogadores[2].vitoria}}</h4>
<button id="resetaJogo" (click)='jogo.reseTajogo()'>Resetar Jogo</button>
<button id="reiniciaJogo" (click)='jogo.reiniciaJogo()'>Reinicia Jogo Atual</button>
<div [style.display]='termina ?  "flex": "none"' (click)='fechar()'>Parabens {{jogo.jogadores[index].nome}} por ter vencido</div>