@import url('https://fonts.googleapis.com/css?family=Cherry+Bomb&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Cherry Bomb", cursive;
    position: relative;
  }
  body {
    background: #836fff;
  }
